@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

/* General */

* {
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: radial-gradient(
      circle at top right,
      rgba(61, 10, 145, 0.6),
      rgba(61, 10, 145, 0.4),
      rgba(61, 10, 145, 0.2),
      rgba(0, 0, 0, 0.2),
      transparent 60%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(13, 110, 253, 0.6),
      rgba(13, 110, 253, 0.4),
      rgba(13, 110, 253, 0.2),
      rgba(0, 0, 0, 0.2),
      transparent 60%
    ),
    black;
  background-size: cover;
  
}

main {
  min-height: 80vh;
  padding-top: 4rem;
  
}

h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  }

/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;
}

header div {
  flex-grow: 3;
}

header div a i {
  font-size: 30px;
  margin: 0 15px;
}

nav {
  flex-grow: 2;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  color: rgb(13, 110, 253);
}

/* Footer */

footer {
  width: 100%;
  min-height: 70px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  
}

footer div {
  margin: 0 20px;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-copyright img {
  height: 25px;
  width: auto;
}

footer div a i {
  font-size: 25px;
}

/* Nosotros */

.card-nosotros {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(13, 110, 253), rgb(61, 10, 145));
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-img-card {
  width: 250px;
  height: 200px;
  margin: 25px 25px 10px 25px;
}

.contenedor-img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-texto-card {
  text-align: center;
  margin: 10px auto;
}

.nombre-card {
  font-size: 24px;
  font-weight: 600;
}

.descripcion-card {
  font-size: 16px;
  font-weight: 300;
}

.contenedor-botones-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contenedor-botones-card button {
  width: 60px;
  height: 60px;
  margin: 10px 17.5px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contenedor-botones-card button a i {
  font-size: 30px;
  color: rgb(13, 110, 253);
}

.contenedor-botones-card button a i:hover {
  color: rgb(61, 10, 145);
}

/* Home CTA Section*/

.home-cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.cta-box {
  border-radius: 10px;
  padding: 20px 2rem; 
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  min-height: 12.5rem;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 15px 0; 
  width: 87%;
}

.cta-box-link {
  text-decoration: none;
  color: inherit;
  width: 87%;
}
.cta-box:nth-child(even) {
  background: linear-gradient(0deg, #0c51b8, #240653);
}
.cta-box:nth-child(odd) {
  background: linear-gradient(180deg, #0c51b8, #240653);
}

.cta-box p {
  font-size: 1.5rem;
  font-weight: bold;
}



/* Responsive */
@media (max-width: 760px) {

  main{
    min-height: 95vh;
    padding-top:9rem;
  }
  header {
    flex-direction: column;
    padding: 15px 0;
  }

  h1{
    font-size: 2rem;
    }

  header div {
    display: none;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav ul li {
    margin: 5px 0;
  }

  footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cta-box {
    width: 95%;
    min-height: 11.5rem;
    padding: 1rem;
    margin: 0.75rem 0;
  }
  .cta-box p {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0 0.5rem
  }
  .contact-container {
    flex-direction: column; 
    padding: 1rem;
  }
}



/* Contact  */
.contact-container {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 90%;
margin: 5rem 2em;
}

.contact-image {
flex: 1;
text-align: center;
}

.contact-image img {
width: 70%;
max-width: 400px;
filter: invert(100%) brightness(2);
}

.contact-form {
flex: 1;
display: flex;
flex-direction: column;
}

.contact-form input{
  height: 1rem;
}
.contact-form input,
.contact-form textarea {
width: 100%;
padding: 15px;
margin-bottom: 1rem;
border-radius: 10px;
border: none;
outline: none;
font-size: 1rem;
color:#110F0F;
}

.contact-form textarea {
height: 100px;
resize: none;
}

.contact-form button {
padding: 15px;
background: linear-gradient(45deg, #25045a, #0d6efd);
border: none;
color: white;
border-radius: 10px;
font-size: 1.25rem;
font-weight: bold;
cursor: pointer;
transition: background 0.3s ease;
}

.contact-form button:hover {
background: linear-gradient(45deg, #240653, #0078FF);
}